@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body, main {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

#__next {
  margin: 0;
  height:100vh;
}