@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body, main {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

#__next {
  margin: 0;
  height:100vh;
}