.content {
  flex: 1;

}

.top {
  text-align: center;
}

.header {
  height: 44px;
  line-height: 44px;
}

.logo {
  height: 44px;
  margin: auto;
  vertical-align: top;
}

.title {
  position: relative;
  top: 2px;
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
  font-size: 14px;
  color: rgba(0,0,0,.45)
}
